{% extends '/administration/classes/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown()
;
    datetime_formatter = {
      datetime: function (datetime, settings) {
        if (!datetime) return '';
        var day = datetime.getDate();
        var month = datetime.getMonth() + 1;
        var year = datetime.getFullYear();
        var hour = datetime.getHours();
        var minute = datetime.getMinutes();
        {# return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2) + " " + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2); #}
        return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2);
      }};

    $('#started_date_calendar').calendar({
      type: 'date',
      formatter: datetime_formatter,
      endCalendar: $('#ended_date_calendar')
    });
    $('#ended_date_calendar').calendar({
      type: 'date',
      formatter: datetime_formatter,
      startCalendar: $('#started_date_calendar')
    });
	</script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Class: {{ form.name.data }}
  {% else %}
    Create Class
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Class: {{ form.name.data }}</div>
  {% else %}
    <div class="active section">Create Class</div>
  {% endif %}

{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.code) }}
      {{ renderer.render_field(form.description) }}
      {{ renderer.render_select(form.course) }}
      {{ renderer.render_checkbox(form.limited) }}
      {{ renderer.render_select(form.limited_enrollment.method) }}

      {{ renderer.render_field(form.limited_enrollment.grantees) }}
      <div class="two fields">
        {{ renderer.render_calendar(form.started_date, calendar_id='started_date_calendar') }}
        {{ renderer.render_calendar(form.ended_date, calendar_id='ended_date_calendar') }}
      </div>

      <div class="field">
      {{ renderer.render_field(form.tags) }}
      </div>
      <button name="create" type="submit" class="ui button primary">{{ 'Create' if 'create' in request.path else 'Edit' }}</button>
    </form>
  </div>
</div>

{% endblock %}
