{% extends '/administration/classes/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    datetime_formatter = {
      datetime:"YYYY-M-DD HH:mm",
      date:"YYYY-MM-DD",
    };
	</script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Class: {{ form.name.data }}
  {% else %}
    Create Class
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if 'edit' in request.path %}
    <li>Edit Class: {{ form.name.data }}</li>
  {% else %}
    <li>Create Class</li>
  {% endif %}

{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <form method="POST">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.code) }}
      {{ renderer.render_field(form.description) }}
      {{ renderer.render_select(form.course) }}
      {{ renderer.render_checkbox(form.limited) }}
      {{ renderer.render_select(form.limited_enrollment.method) }}

      {{ renderer.render_field(form.limited_enrollment.grantees) }}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ renderer.render_calendar(form.started_date, calendar_id='started_date_calendar') }}
        {{ renderer.render_calendar(form.ended_date, calendar_id='ended_date_calendar') }}
      </div>

      <div>
      {{ renderer.render_field(form.tags) }}
      </div>
      <button name="create" type="submit" class="btn btn-primary">{{ 'Create' if 'create' in request.path else 'Edit' }}</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
