{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.classes.index') }}" class="section">Classes</a>
{% endblock %}

{% block dashboard_title %}
Classes
{% endblock %}

{% block content %}
<div class="ui container">
    <div class="ui labeled icon menu">
      <a href="{{ url_for('administration.classes.create') }}" class="item"><i class="add icon"></i>Add</a>
      <a href="{{ url_for('administration.courses.index') }}" class="item"><i class="book icon"></i>Courses</a>
    </div>
</div>

{% if classes %}
  <div class="ui container" style="margin-top: 20px;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
    {% for class_ in classes %}
        <tr>
          <td>
            <a href="{{ url_for('administration.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
          </td>
          <td>
            {{ class_.description }}
          </td>
          <td class="single line">
            <a class="ui circular button primary icon" href="{{ url_for('administration.classes.edit', class_id=class_.id) }}"><i class="edit icon"></i></a>
            <a class="ui circular button primary icon" href="{{ url_for('administration.classes.list_students', class_id=class_.id) }}"><i class="users icon"></i></a>
            <a class="ui circular button primary icon" href="{{ url_for('administration.classes.delete', class_id=class_.id) }}"><i class="trash icon"></i></a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}


{% endblock %}
