{% extends '/administration/classes/index.html.j2' %}

{% block dashboard_title %}
  List User in {{class_.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <li>List User in  {{ class_.name }}</li>
{% endblock %}

{% block content %}
  <div class="container mx-auto px-4">
    <div class="card bg-base-100 shadow">
      <div class="card-body">
      <h2 class="text-2xl font-bold mb-2">Enrolled Students</h2>
      <p>
      <b>Learners: </b> {{ enrollments | count }} <br/>
      <b>Start Date: </b> {{ class_.started_date | ymd }} <br/>
      <b>End Data: </b> {{ class_.ended_date | ymd }} <br/>
      <b>Never Login Student: </b> {{ never_login | join(', ') }} <br/>
      </p>
      <p>
      <a href="{{ url_for('administration.classes.export_attendants', class_id=class_.id) }}" class="btn btn-primary"><i class="fa-solid fa-download"></i>Attendants</a>
      <a href="{{ url_for('administration.classes.export_scores', class_id=class_.id) }}" class="btn btn-primary"><i class="fa-solid fa-download"></i>Scores</a>
      </p>
      </div>
    </div>

	  <div class="overflow-x-auto">
	  <table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Score</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
{% for enrollment in enrollments  %}
  <tr>
    <td>
      {{ enrollment.user.metadata.get('student_id', enrollment.user.username) }}
    </td>
        <td>
          {{ enrollment.user.first_name }} {{ enrollment.user.last_name }} ({{ enrollment.user.metadata.get('thai_first_name', '') }} {{ enrollment.user.metadata.get('thai_last_name', '') }})

          {#
          <a href="{{ url_for('administration.courses.view', course_id=course.id) }}">{{ course.name }}</a>
          #}
					</td>
        <td>
          {% set score = class_.get_assignment_score(enrollment.user) %}
          {{ '{:.2f}'.format(score['total_user_score']) }} / {{ score['total_score'] }}
		      </td>
        <td>
          {% if class_.owner == current_user %}
            <a href="{{ url_for('administration.classes.show_user_score', class_id=class_.id, user_id=enrollment.user.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-eye"></i></a>
          {% elif class_.is_teaching_assistant(current_user) %}
            <a href="{{ url_for('teaching_assistants.classes.show_user_score', class_id=class_.id, user_id=enrollment.user.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-eye"></i></a>
          {% endif %}
        </td>
				</tr>
{% endfor %}
			</tbody>
    </table>
    </div>

{% if unenrollments | count > 0 %}
    <div class="card bg-base-100 shadow">
      <div class="card-body">
      <h2 class="text-2xl font-bold">Unenrolled Students</h2>
      </div>
    </div>
	  <div class="overflow-x-auto">
	  <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Score</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
      {% for user in unenrollments  %}
        <tr>
          <td>
            {{ user.metadata.get('student_id', user.username) }}
          </td>
          <td>
            {{ user.first_name }} {{ user.last_name }} ({{ user.metadata.get('thai_first_name', '') }} {{ user.metadata.get('thai_last_name', '') }})

            {#
            <a href="{{ url_for('administration.courses.view', course_id=course.id) }}">{{ course.name }}</a>
            #}
					</td>
          <td>
            {% set score = class_.get_assignment_score(user) %}
            {{ '{:.2f}'.format(score['total_user_score']) }} / {{ score['total_score'] }}
		      </td>
          <td>
            {% if class_.owner == current_user %}
              <a href="{{ url_for('administration.classes.show_user_score', class_id=class_.id, user_id=user.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-eye"></i></a>
              <a href="{{ url_for('administration.classes.add_user_to_class', class_id=class_.id, user_id=user.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-folder"></i></a>
            {% elif class_.is_teaching_assistant(current_user) %}
              <a href="{{ url_for('teaching_assistants.classes.show_user_score', class_id=class_.id, user_id=user.id) }}" class="btn btn-circle btn-primary"><i class="fa-solid fa-eye"></i></a>
            {% endif %}
          </td>
				</tr>
      {% endfor %}
			</tbody>
		</table>
		</div>
{% endif %}

</div>

{% endblock %}
