{% extends '/administration/classes/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}
{% import '/base/solution-style.html.j2' as solution_style %}

{% block additional_head %}
{{ super() }}

<style type="text/css">
  {{ style }}
</style>



  <script>
    function printDiv(divId) {
      var printContents = document.getElementById(divId).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
  </script>
{% endblock %}

{% block additional_js %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='node_modules/mathjax/tex-mml-chtml.js') }}"></script>

<script type="text/javascript">
  $(".attach-file-code").click(function () {
    $(this).parent().find("#code").click();
  });

  $('#code')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-code', $(e.target).parent()).val(name);
    });
</script>

{#
<script type="text/javascript"
  src="{{ url_for('static', filename='brython_modules/brython.js') }}"></script>
<script type="text/javascript"
  src="{{ url_for('static', filename='brython_modules/brython_stdlib.js') }}"></script>
#}

<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
</script>

<script type="text/javascript">
  brython(1);
</script>

{% endblock %}


{% block dashboard_title %}
Class: {{ class_.name }} - Print Challenges
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <li>Print Challenges for Class {{ class_.name }}</li>
{% endblock %}

{% block content %}
<button onclick="printDiv('printable-area')" class="btn btn-primary"><i class="fa-solid fa-print"></i> Print All</button>

<div id="printable-area" class="mt-4">
  {% for assignment in assignments %}
    <div class="alert alert-info mb-4">
      <h2 class="text-2xl font-bold">
        Assignment: <a
          href="{{ url_for('assignments.practice', assignment_id=assignment.id,  **request.args.to_dict()) }}">{{ assignment.name }}</a>
      </h2>
    </div>
    {% for challenge in assignment.challenges %}
      <div class="card bg-base-100 shadow mb-4" style="line-height: normal; page-break-after: always;">
        <div class="card-body text-lg">
        <h3 class="text-xl font-bold">{{ challenge.name }}</h3>

        <h4 class="text-lg font-semibold mt-2">Problem Statement</h4>
        <div>

          {{ markdown(challenge.problem_statement, extensions=['fenced_code','codehilite', 'mdx_math', 'tables']) | safe }}

        </div>

        <h4 class="text-lg font-semibold mt-2">Input Format</h4>
        <div>
          {{ challenge.input_format if challenge.input_format and challenge.input_format | count > 0 else '-' }}
        </div>

        <h4 class="text-lg font-semibold mt-2">Constrains</h4>
        <div>
          {{ challenge.constrains if challenge.constrains and challenge.constrains | count > 0 else '-'}}
        </div>

        <h4 class="text-lg font-semibold mt-2">Output Format</h4>
        <div>
          {{ markdown(challenge.output_format, extensions=['fenced_code', 'codehilite', 'mdx_math', 'tables']) | safe }}
        </div>

        <h4 class="text-lg font-semibold mt-2">Score</h4>
        <div>
          <span class="text-error"><b>{{ challenge.score }}</b></span>
        </div>

        <h4 class="text-lg font-semibold mt-2">Tags</h4>
        <div>
          {{ challenge.tags | join(', ') }}
        </div>

        {%- if challenge.test_cases | count > 0 %}
        <h4 class="text-lg font-semibold mt-2">Public Test Case</h4>
        <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Input</th>
              <th>System Output</th>
            </tr>
          </thead>

          <tbody>
            {%- for t in challenge.test_cases if t.public %}
            <tr>
              <td>
                <pre>{{ t.input_string }}</pre>
              </td>
              <td>
                <pre>{{ t.output_string }}</pre>
              </td>
            </tr>
            {% endfor -%}
          </tbody>
        </table>
        </div>
        {% endif -%}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>



<div class="container mx-auto px-4 mt-4">
</div>
{% endblock %}