{% extends '/administration/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block dashboard_title %}Classes: {{ class_.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">{{ class_.name }}</div>
{% endblock %}


{% block content %}

<div class="ui container">
	<div class="ui segment">
		<div>
			<b>Description:</b> {{ class_.description }}
		</div>
		<div>
			<b>Code:</b> {{ class_.code }}
		</div>
		<div>
			<b>Course:</b> <a href="{{ url_for('administration.courses.view', course_id=class_.course.id) }}">{{ class_.course.name }}</a>
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		{% if class_.limited_enrollment %}
		<div>
			<b>Limited Method:</b> {{ class_.limited_enrollment.method }}
		</div>
		<div>
			<b>Limited Grantees:</b> {{ class_.limited_enrollment.grantees | join(', ') }}
		</div>
	{% endif %}
		<div>
			<b>Started Date:</b> {{ class_.started_date }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
    </div>
    <div>
      <b>Teaching Assistant</b> 
      {% for ta in class_.teaching_assistants %}
        {{ ta.user.first_name }} {{ ta.user.last_name }}, 
      {% endfor %}
    </div>

  </div>
</div>

<div class="ui container" style="margin-top: 1em;">
    <div class="ui labeled icon menu">
    {% if class_.owner == current_user %}
      <a class="item" href="{{ url_for('administration.classes.edit', class_id=class_.id) }}"><i class="edit icon"></i>Edit</a>
      <a class="item" href="{{ url_for('administration.classes.list_students', class_id=class_.id) }}"><i class="student icon"></i>Students</a>
      <a class="item" href="{{ url_for('administration.classes.add_teaching_assistant', class_id=class_.id) }}"><i class="clipboard check icon"></i>TA</a>
    {% elif class_.is_teaching_assistant(current_user) %}
      <a class="item" href="{{ url_for('teaching_assistants.classes.list_students', class_id=class_.id) }}"><i class="student icon"></i>Students</a>
    {% endif %}
      <a class="item" href="{{ url_for('administration.classes.list_class_solutions', class_id=class_.id) }}"><i class="code file icon"></i>Solutions</a>
    </div>
</div>

<div class="ui container" style="margin-top: 1em;">
		<h2>Assignments</h2>
		<table class="ui celled table">
			<thead>
				<tr>
						<th>Name</th>
						<th>Challenges</th>
						<th>Scores</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				{% for assignment in class_.course.assignments %}
					<tr class="top aligned">{% set ass_time=class_.get_assignment_schedule(assignment) %}
            <td>
              {% if current_user.has_roles(["lecturer"]) %}
              <a href="{{ url_for('administration.assignments.view', assignment_id=assignment.id) }}" target="_blank">
                {{ assignment.name }}
              </a>
            {% else %}
              <a href="{{ url_for('assignments.view', assignment_id=assignment.id, class_id=class_.id) }}" target="_blank">
                {{ assignment.name }}
              </a>
            {% endif %}
            </td>
					<td>{{ assignment.challenges | count }}</td>
					<td>{{ assignment.score }}</td>
					<td>{{ ass_time.started_date if ass_time else '-' }}</td>
					<td>{{ ass_time.ended_date if ass_time else '-' }}</td>
					<td class="single line one wide right aligned">
            {% if class_.owner == current_user or current_user in class_.contributors or class_.is_teaching_assistant(current_user) %}
              <a class="ui icon button circular primary" href="{{ url_for('administration.classes.set_assignment_time', class_id=class_.id, assignment_id=assignment.id) }}"><i class="clock icon"></i></a>
              <a class="ui icon button circular primary" href="{{ url_for('scoreboards.show_assignment_scores', class_id=class_.id, assignment_id=assignment.id) }}"><i class="award icon"></i></a>
              <a class="ui icon button circular primary" href="{{ url_for('administration.classes.list_assignment_users', class_id=class_.id, assignment_id=assignment.id) }}"><i class="eye icon"></i></a>
            {% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
            	
</div>
{% endblock %}
