{% extends '/base/default-dashboard.html' %}

{% block additional_head %}
{{ super() }}

<style type="text/css">
  {{ style }}
</style>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.solutions.index') }}" class="breadcrumb">Solutions</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Solution for {{ solution.challenge.name }}</h3>
    <b>Submitter:</b> {{ solution.owner.first_name }} {{ solution.owner.last_name }}<br/>
    <b>Submitted Date:</b> {{ solution.submitted_date }}<br/>
    <b>Class:</b> {{ solution.enrolled_class.name }}<br/>
    <b>Assignment:</b> {{ solution.assignment.name }}<br/>
    <b>Challenge:</b> {{ solution.challenge.name }}<br/>
    <b>Pass Testcase:</b> {{ solution.passed }}<br/>
    <b>Status:</b> {{ solution.status }}<br/>
    <b>Score:</b> {{ solution.score }}<br/> 
  </div>
</div>

<div class="row">
  <div class="col s12">
  {% for t in solution.test_results %}
    <div class="row {{ 'red lighten-4' if not t.validated }}">
      <div class="col s12">
        <h5>Testcase {{ loop.index }}</h5>
        <div>
          Valid: {{ t.validated }}
        </div>
      </div>
    </div>

    {% if t.public %}
    <div class="row">
      <div class="col s6">
        <h6 class="class-panel blue lighten-4">Your Output</h6>
        <pre>{{ t.output }}</pre>
      </div>
      <div class="col s6">
        <h6 class="class-panel blue lighten-4">Expected Output</h6>
        <pre>{{ t.expected_result }}</pre>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <code>
      {{ formated_code | safe }}
    </code>
  </div>
</div>

{% endblock %}
