{% extends '/base/default-dashboard.html' %}

{% block additional_head %}
{{ super() }}

<style type="text/css">
  {{ style }}
</style>
{% endblock %}

{% block additional_js %}
  <script type="text/javascript">
    options = {};
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, options);
    });
  </script>
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.solutions.index') }}" class="breadcrumb">Solutions</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Solution for {{ solution.challenge.name }}</h3>
    <b>Submitter:</b> {{ solution.owner.first_name }} {{ solution.owner.last_name }}<br/>
    <b>Submitted Date:</b> {{ solution.submitted_date }}<br/>
    <b>Class:</b> {{ solution.enrolled_class.name }}<br/>
    <b>Assignment:</b> {{ solution.assignment.name }}<br/>
    <b>Challenge:</b> {{ solution.challenge.name }}<br/>
    <b>Pass Testcase:</b> {{ solution.passed }}<br/>
    <b>Status:</b> {{ solution.status }}<br/>
    <b>Score:</b> {{ solution.score }}<br/>
    {% if 'compilation' in solution.metadata %}
    <div>
      <b>Prepair Status</b>
      
      {% if 'compiled_date' in solution.metadata['compilation'] %}
        <div><b>Compile</b> {{ solution.metadata['compilation']['compiled_date'] }}</div>
      {% endif %}
      {% if 'error' in solution.metadata['compilation'] %}
        <div> {{ solution.metadata['compilation']['error'] }}</div>
      {% endif %}
      {% if 'output' in solution.metadata['compilation'] %}
        <div> {{ solution.metadata['compilation']['output'] }}</div>
      {% endif %}

    </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
  {% for t in solution.test_results %}
    <div class="row {{ 'red lighten-4' if not t.validated }}">
      <div class="col s12">
        <h5>Test Case {{ loop.index }}</h5>
        <div>
          Valid: {{ t.validated }}
        </div>
      </div>
    </div>

    {% if t.public %}
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ loop.index }}">Deep Result Analysis</a>
        <div id="modal{{ loop.index }}" class="modal">
          <div class="modal-content">
            <h4>Test Case {{ loop.index }}</h4>
            <div>
              {%- set output_str = t.output %}
              {% if output_str == None %}
              {% set output_str = '' %}
              {% endif -%}
{{ difflib.HtmlDiff(linejunk=difflib.IS_LINE_JUNK).make_file(output_str.splitlines(keepends=True), t.expected_result.splitlines(keepends=True)) | safe }}
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h6 class="class-panel blue lighten-4">Your Output</h6>
        <code>
          {{ highlight(t.output, console_lexer, formatter) | safe }}
        </code>
      </div>
      <div class="col s6">
        <h6 class="class-panel blue lighten-4">Expected Output</h6>
        <code>
          {{ highlight(t.expected_result, console_lexer, formatter) | safe }}
        </code>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <code>
      {{ formated_code | safe }}
    </code>
  </div>
</div>

{% endblock %}
