{% extends '/administration/classes/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
  </script>
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">TA</div>
{% endblock %}

{% block dashboard_title %}
  TA
{% endblock %}

{% block content %}
<div class="ui conainer">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}
      {{ renderer.render_select(form.users) }}
      <button class="waves-effect waves-light btn" type="submit">Add</button>
    </form>
  </div>
</div>
{% endblock %}
