{% extends '/administration/courses/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
			});

			document.addEventListener('DOMContentLoaded', function() {
				var elems = document.querySelectorAll('.datepicker');
				var instances = M.Datepicker.init(elems, {"format": "dd-mm-yyyy"});
			});
		</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Create Class</h3>
    <form method="POST" action="{{ request.path }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col s12">
          <div class="row">
						<div class="input-field col s12">
							{{ renderer.render_field(form.name) }}
            </div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							{{ renderer.render_field(form.code) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.description, 'materialize-textarea') }}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.course) }}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_checkbox(form.limited) }}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.grantees, 'materialize-textarea') }}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.started_date, 'datepicker') }}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.ended_date, 'datepicker') }}
            </div>
					</div>

          <div class="row">
            <div class="input-field col s12">
							{{ renderer.render_field(form.tags) }}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button name="create" type="submit" class="waves-effect waves-light btn">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
