{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.classes.index') }}" class="breadcrumb">Class</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Show Assignment</h3>
    <h4>{{ student.first_name }} {{ student.last_name }}</h4>
    <h5>Assignment: {{ assignment.name }}<h5>
  </div>
</div>

{% for challenge in assignment.challenges %}
<div class="row">
	<div class="col s12">
    <h6 class="card-panel blue lighten-4">{{ challenge.name }}: {{ challenge.score }}</h6>
	  <table>
			<thead>
				<tr>
          <th>Submitted Date</th>
          <th>Status</th>
          <th>Pass</th>
          <th>Test Case</th>
					<th>Score</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
        {% for solution in challenge.get_solutions(class_, student).order_by('-id')  %}
          <tr class="{{ 'red lighten-4' if not solution.passed}}">
          <td>
            {{ solution.submitted_date }}
          </td>
          <td>
            {{ solution.status }}
          </td>
          <td>
            {{ solution.passed }}
          </td>
          <td>{{ solution.test_results | count }}</td>
          <td>
            {{ solution.score }}
          </td>
          <td>
            <a href="{{ url_for('administration.solutions.view', solution_id=solution.id) }}"><i class="material-icons">visibility</i></a>
          </td>
				</tr>
        {% endfor %}
			</tbody>
		</table>
  </div>
</div>
{% endfor %}

{% endblock %}
