{% extends '/administration/classes/index.html' %}

{% block dashboard_title %}Assignment Score: {{ class_.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">{{ class_.name }}</div>
{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui segment">
      <h2>{{ student.first_name }} {{ student.last_name }} </h2>
      <b>Thai Name</b>{{ student.metadata['thai_first_name'] }} {{ student.metadata['thai_last_name'] }}<br/>
      <b>Student ID</b> {{ student.metadata['student_id'] }} <b>Organization</b> {{ student.metadata['organization'] }}<br/>
    </div>
	 <table class="ui celled table">
			<thead>
				<tr>
          <th>Name</th>
          <th>Challenge Score</th>
					<th>Score</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
{% for assignment in assignments  %}
				<tr>
          <td>
            {{ assignment.name }}
          </td>
          <td>
            {% for challenge in assignment.challenges %}
              {{ challenge.get_solution_score(class_, student) }} 
            {% endfor %}
          </td>
          <td>
            {{ assignment.get_score(class_=class_, user=student) }}
          </td>
          <td>
            {% if class_.owner == current_user %}
              <a class="ui icon button circular primary" href="{{ url_for('administration.classes.show_student_assignment', class_id=class_.id, student_id=student.id, assignment_id=assignment.id) }}"><i class="eye icon"></i></a>
            {% elif class_.is_teaching_assistant(current_user) %}
              <a class="ui icon button circular primary" href="{{ url_for('teaching_assistants.classes.show_student_assignment', class_id=class_.id, student_id=student.id, assignment_id=assignment.id) }}"><i class="eye icon"></i></a>
            {% endif %}
		      </td>

				</tr>
{% endfor %}
			</tbody>
		</table>

</div>

{% endblock %}
