{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="row">
  <div class="column">
    <h3>Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
    <p><i class="clock icon"></i> {{ now.ctime() }} </p>
  </div>
</div>
<div class="ui segment">
  <h2 class="header">
    Assignments
  </h2>
  {% if assignment_schedule | count == 0 %}
    <h3>There are not up comming assignments</h3>
  {% else %}

  <div class="ui large divided list">
    {% for ass_sch in assignment_schedule %}
    {% set ass_t = ass_sch['assignment_schedule'] %}
    {% set class_ = ass_sch['class_'] %}
    {% set assignment = ass_t.assignment %}
    {% set ass_status = assignment.check_user_submission(class_, current_user) %}
    <div class="item">
        <i class="large laptop code middle aligned icon green"></i>

      <div class="content">
        <a class="header" href="{{ url_for('administration.classes.list_assignment_users', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a>
        <div class="description">
          <p>{{ assignment.description }}</p>
          <p>
            <b>Class:</b> {{ class_.name }}</br/>
            <b>Start:</b> {{ ass_t.started_date }}<br/>
            <b>End:</b> {{ ass_t.ended_date }}<br/>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>


<div class="ui segment">
  <h2 class="header">
    Available Class
  </h2>
  {% if available_classes | count == 0 %}
    <h3>Not Found</h3>
  {% else %}
    <div class="ui large divided list">
      {% for class_ in available_classes %}
        <div class="item">
          <i class="large play middle aligned icon green"></i>
          <div class="content">
            <a class="header" href="{{ url_for('administration.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
            <div class="description">
              <p>{{ class_.description }}</p>
              <p>Start {{ class_.started_date.date() }} <br>
                 End {{ class_.ended_date.date() }} <br>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif%}
</div>

{% endblock %}
