{% extends '/base/default-dashboard.html.j2' %}

{% block content %}
<div class="mb-4">
  <h3 class="text-2xl font-bold">Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
  <p><i class="fa-regular fa-clock"></i> {{ now.ctime() }} </p>
</div>

<div class="card bg-base-100 shadow mb-4">
  <div class="card-body">
    <h2 class="text-2xl font-bold">
      Scores
    </h2>
    <div class="divide-y divide-base-300">
      {% for class_ in available_classes %}
        {% set class_score = class_.get_assignment_score(current_user) %}
        <div class="flex items-center gap-4 py-3">
          <i class="fa-solid fa-inbox text-2xl text-success"></i>
          <div>
            <a class="font-semibold" href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
            <div class="text-sm opacity-70">
              <b><span class="text-error">{{ '{:.2f}'.format(class_score['total_user_score']) }}</span> / <span class="text-info">{{  class_score['total_score'] }}</span></b>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="card bg-base-100 shadow mb-4">
  <div class="card-body">
    <h2 class="text-2xl font-bold">
      Assignments
    </h2>
    {% if assignment_schedule | count == 0 %}
      <h3 class="text-lg font-semibold">There are not up comming assignments</h3>
    {% else %}

    <div class="divide-y divide-base-300">
      {% for ass_sch in assignment_schedule %}
      {% set ass_t = ass_sch['assignment_schedule'] %}
      {% set class_ = ass_sch['class_'] %}
      {% set assignment = ass_t.assignment %}
      {% set ass_status = assignment.check_user_submission(class_, current_user) %}
      {% set all_challenge_submission = assignment.challenges | count == ass_status | count %}
      <div class="flex items-center gap-4 py-3">
        {% if all_challenge_submission %}
          <i class="fa-solid fa-laptop-code text-2xl text-success"></i>
        {% else %}
          <i class="fa-solid fa-laptop-code text-2xl text-error"></i>
        {% endif %}

        <div>
          <a class="font-semibold" href="{{ url_for('assignments.practice', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a>
          <div class="text-sm opacity-70">
            <p>{{ assignment.description }}</p>
            <p>
              <b>Class:</b> {{ class_.name }}</br/>
              <b>Start:</b> {{ ass_t.started_date | ymd }}<br/>
              <b>End:</b> {{ ass_t.ended_date | ymd }}<br/>
              <b>Score:</b> <b><span class="text-error">{{ '{:.2f}'.format(assignment.get_score(class_, current_user)) }}</span>/<span class="text-info">{{ assignment.score }}</span></b><br/>
            <p>Status:
            {% if all_challenge_submission %}
              Submitted
            {% else %}
              Waiting
            {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>


<div class="card bg-base-100 shadow mb-4">
  <div class="card-body">
    <h2 class="text-2xl font-bold">
      Available Class
    </h2>
    {% if available_classes | count == 0 %}
      <h3 class="text-lg font-semibold">No Class for You</h3>
    {% else %}
      <div class="divide-y divide-base-300">
        {% for class_ in available_classes %}
          <div class="flex items-center gap-4 py-3">
            {% if class_.is_enrolled(current_user.id) %}
            <i class="fa-solid fa-play text-2xl text-success"></i>
            {% else %}
            <i class="fa-solid fa-folder text-2xl"></i>
            {% endif %}
            <div class="flex-1">
              <a class="font-semibold" href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
              <div class="text-sm opacity-70">
                <p>{{ class_.description }}</p>
                <p>Start {{ class_.started_date | ymd }} <br>
                   End {{ class_.ended_date | ymd }} <br>
                   Enroll {{ class_.is_enrolled(current_user.id) }}
                </p>
              </div>
            </div>
            {% if not class_.is_enrolled(current_user.id) %}
            <div>
              <a href="{{ url_for('classes.enroll', class_id=class_.id) }}" class="btn btn-primary"><i class="fa-solid fa-users"></i>Enroll</a>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif%}
  </div>
</div>

{% endblock %}
