{% extends '/base/default-dashboard.html.j2' %}

{% block content %}
<div class="mb-4">
  <h3 class="text-2xl font-bold">Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
  <p><i class="fa-regular fa-clock"></i> {{ now.ctime() }} </p>
</div>
<div class="card bg-base-100 shadow mb-4">
  <div class="card-body">
    <h2 class="text-2xl font-bold">
      Assignments
    </h2>
    {% if assignment_schedule | count == 0 %}
      <h3 class="text-lg font-semibold">There are not up comming assignments</h3>
    {% else %}

    <div class="divide-y divide-base-300">
      {% for ass_sch in assignment_schedule %}
      {% set ass_t = ass_sch['assignment_schedule'] %}
      {% set class_ = ass_sch['class_'] %}
      {% set assignment = ass_t.assignment %}
      {% set ass_status = assignment.check_user_submission(class_, current_user) %}
      <div class="flex items-center gap-4 py-3">
          <i class="fa-solid fa-laptop-code text-2xl text-success"></i>

        <div>
          <a class="font-semibold" href="{{ url_for('administration.classes.list_assignment_users', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a>
          <div class="text-sm opacity-70">
            <p>{{ assignment.description }}</p>
            <p>
              <b>Class:</b> {{ class_.name }}</br/>
              <b>Start:</b> {{ ass_t.started_date }}<br/>
              <b>End:</b> {{ ass_t.ended_date }}<br/>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>


<div class="card bg-base-100 shadow mb-4">
  <div class="card-body">
    <h2 class="text-2xl font-bold">
      Available Class
    </h2>
    {% if available_classes | count == 0 %}
      <h3 class="text-lg font-semibold">Not Found</h3>
    {% else %}
      <div class="divide-y divide-base-300">
        {% for class_ in available_classes %}
          <div class="flex items-center gap-4 py-3">
            <i class="fa-solid fa-play text-2xl text-success"></i>
            <div>
              <a class="font-semibold" href="{{ url_for('administration.classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
              <div class="text-sm opacity-70">
                <p>{{ class_.description }}</p>
                <p>Start {{ class_.started_date.date() }} <br>
                   End {{ class_.ended_date.date() }} <br>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif%}
  </div>
</div>

{% endblock %}
