{% extends '/assignments/questions/index.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Create Questions</h3>
    <form>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              {{ form.name }}
              {{ form.name.lable }}
            </div>
          </div>
        </div>
      </div>
    </form>
    {{form}}    
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
