    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">{{ config.get('APP_TITLE') }} </h1>
            <div class="row center">
                <h5 class="header col s12 light">Contact CoE Office</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">About</a>
            </div>
            <br><br>

        </div>
    </div>
