  
  <div class="page-footer blue darken-2">
    <div class="container">
      <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text">Sadhu</h5>
          <p class="grey-text text-lighten-4">CoE, Eng, PSU</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Interesting</h5>
          <ul>
            <li><a class="white-text" href="http://coe.psu.ac.th">CoE</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://coe.psu.ac.th">CoE</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        Coe, Eng, PSU
      </div>
    </div>
  </div>
