{% import '/base/error-handler.html' as eh %}

{% macro render_field(field, class_='') -%}
{%- set style = '%s' | format(eh.get_validate_class(field.errors)) -%}
{%- if class_ != '' -%}
{%- set style = '%s %s' | format(class_, eh.get_validate_class(field.errors)) -%}
{%- endif -%}
<div class="field">
{{ field.label }}
{{ field(class_=style) }}
</div>
{{ eh.get_error_messages(field.errors) }}
{%- endmacro %}


{% macro render_textarea(field) -%}
{{render_field(field, 'materialize-textarea')}}
{%- endmacro %}


{% macro render_checkbox(field) -%}
<div class="ui checkbox">
	{{ field }}
  {{ field.label }}
</div>
{%- endmacro %}


{% macro render_fileinput(field) -%}
<div class="file-field input-field">
  <div class="btn btn-small">
		<span>{{ field.label.text }}</span>
		{{ field }}
  </div>
	<div class="file-path-wrapper">
		<input class="file-path validate" type="text">
	</div>
</div>
{%- endmacro %}

{% macro render_select(field) -%}
{{ render_field(field, class_='ui dropdown') }}
{%- endmacro %}

{% macro render_calendar(field, calendar_id='calendar') -%}
<div class="field">
  {{ field.label }}
  <div class="ui calendar" id="{{ calendar_id }}">
    <div class="ui input left icon">
      <i class="calendar icon"></i>
      {{ field(autocomplete='off') }}
    </div>
  </div>
</div>
{%- endmacro %}
