{% extends '/base/default-dashboard.html' %}
{% import '/base/assignment-style.html' as ass_style %}

{% block dashboard_title %}
  Assignments
{% endblock %}
{% block breadcrumbs %}
<a href="{{ url_for('assignments.index', **request.args.to_dict()) }}" class="section">Assignments</a>
{% endblock %}

{% block content %}

<div class="ui container">
  {%- if assignment_schedule %}
  <h2>Current Assignment</h2>
	<table class="ui celled table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Due Date</th>
					<th>Progress</th>
					<th>Score</th>
				</tr>
			</thead>
			<body>
        {%- for schedule in assignment_schedule %}
          {%- set assignment = schedule['assignment_schedule'].assignment -%}
          {%- set assignment_time = schedule['assignment_schedule'] -%}
          {%- set class_ = schedule['class_'] -%}
          {%- set ass_score = assignment.get_score(class_, current_user) -%}
          <tr class="{{ ass_style.get_assignment_class(ass_score, assignment.score) }}">
					<td data-label="Name">
						<a href="{{ url_for('assignments.practice', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a>
					</td>
          <td data-label="Description">{{ assignment.description }}</td>
					<td data-label="Due Date">{{ assignment_time.ended_date.ctime() }}</td>
          <td data-label="Progress">{{ assignment.count_done_challenges(class_, current_user) }} / {{ assignment.challenges | count }}</td>
          <td data-label="Score" class="right aligned">{{ '{:.2f}'.format(ass_score) }} / {{ assignment.score }}</td>
				</tr>
        {% endfor -%}
			</body>
  </table>
  {% else %}
    <h4>There are no assignment in this time.</h4>
	{% endif -%}
	
</div>

{# pass assignemnt schedule #}
{%- if past_assignment_schedule %}
<div class="ui container" style="margin-top: 1em;">
  <h2>Past Assignment</h2>
	<table class="ui celled table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Due Date</th>
					<th>Progress</th>
					<th>Score</th>
				</tr>
			</thead>
			<body>
        {%- for schedule in past_assignment_schedule %}
          {%- set assignment = schedule['assignment_schedule'].assignment -%}
          {%- set assignment_time = schedule['assignment_schedule'] -%}
          {%- set class_ = schedule['class_'] -%}
				<tr>
					<td data-label="Name">
						<a href="{{ url_for('assignments.practice', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a>
					</td>
          <td data-label="Description">{{ assignment.description }}</td>
					<td data-label="Due Date">{{ assignment_time.ended_date.ctime() }}</td>
          <td data-label="Progress">{{ assignment.count_done_challenges(class_, current_user) }} / {{ assignment.challenges | count }}</td>
          <td data-label="Score" class="right aligned">{{ '{:.2f}'.format(assignment.get_score(class_, current_user)) }} / {{ assignment.score }}</td>
				</tr>
        {% endfor -%}
			</body>
  </table>
	
</div>
{% endif -%}

{% endblock %}
