{% extends '/administration/assignments/index.html.j2' %}
{% import '/base/error-handler.html.j2' as eh %}

{%- macro get_challenge_status_style(class_, challenge) %}
{%- set style = 'bg-warning/20' -%}
{%- set user_score = challenge.score - challenge.get_solution_score(class_, current_user) -%}
{%- if user_score == 0 %}
  {%- set style = 'bg-success/20' -%}
{% elif user_score > 0 %}
  {%- set style = 'bg-error/20' -%}
{% endif -%}
{{ style }}
{%- endmacro %}

{% block dashboard_title %}Assignments{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow mb-4">
    <div class="card-body">
		<div>
			<h3 class="text-xl font-bold">Course: <a href="{{ url_for('courses.view', course_id=assignment.course.id) }}">{{ assignment.course.name }}</a></h3>
      <p>Class <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></p>
		</div>
		<div>
			{{ assignment.description }}
		</div>
		<div>
			Score: {{ assignment.score }}
		</div>
		<div>
			<p>{{ assignment.tags | join(', ') }}</p>
		</div>
    </div>
  </div>

  {% if assignment.challenges | count > 0 %}
  <div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Score</th>
        <th>Your Score</th>
        <th>Submitted</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for challenge in assignment.challenges %}
        <tr class="{{ get_challenge_status_style(class_, challenge) }}">
        <td>
          <a href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args) }}">{{ challenge.name }}</a>
        </td>
        <td>
          {{ challenge.description }}
        </td>
        <td>
          {{ challenge.score }}
        </td>
        <td>
          {{ '{:.2f}'.format(challenge.get_solution_score(class_, current_user)) }}
        </td>
        <td>
          {{'Done' if challenge.is_done(class_, current_user) else 'Waiting' }}
        </td>
        <td>

          <a class="btn btn-circle btn-primary" href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args) }}">
            <i class="fa-solid fa-eye"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% endif %}

</div>


{% endblock %}
