{%- macro get_assignment_class(current_score, ass_score) -%}
{%- set class_str = '' -%}
{% if current_score == ass_score -%}
  {% set class_str = 'bg-success/20' %}
{% elif current_score > 0  %}
  {% set class_str = 'bg-error/20' %}
{%- endif %}
{{- class_str -}}
{%- endmacro %}
