<div class="hero bg-neutral text-neutral-content py-16">
    <div class="hero-content text-center">
      <div class="max-w-2xl">
      <div>
        {#<img width="300px" src="{{ url_for('static', filename='images/lotus-500px.png') }}"#}
        <i class="fa-solid fa-hands-praying text-8xl"></i>
      </div>
       <h1 class="text-6xl font-bold mt-4">{{ config.get('APP_TITLE') }} </h1>
      <h2 class="text-2xl mt-4">Sadhu Coding Practical System, Please Login.</h2>
      <div class="pt-6">
        <a href="{{ url_for('accounts.login') }}" class="btn btn-primary btn-lg"><i class="fa-solid fa-user-plus"></i>Login</a>
      </div>
      <div class="py-10">
        ผู้เป็นบัณฑิต ควรพยายามร่ำไป ไม่พึงเบื่อหน่ายในกิจของตน
      </div>
      </div>
    </div>
</div>
