{% extends "/base/base-layout.html.j2" %}
{% block body %}
<header>
{% block header %}
  {% include "/base/toolbar.html.j2" %}
  {% if request.path == '/' %}
    {% include "/base/banner.html.j2" %}
  {% else %}
    <div class="pt-2"></div>
  {% endif %}
{% endblock %}
</header>

<main>
  <div class="container mx-auto px-4">
    {% block content %}{% endblock content %}
  </div>
</main>

<footer class="bg-base-100 border-t border-base-300 mt-8 py-8">
{% include "/base/footer.html.j2" %}
</footer>
{% endblock %}
