{% macro get_validate_class(errors) -%}
{%- set class_str = '' -%}
{% if errors | count > 0 -%}
{% set class_str = 'input-error select-error textarea-error' %}
{%- endif %}
{{- class_str -}}
{%- endmacro %}

{% macro get_error_messages(errors) -%}
	{% if errors %}
  <div class="text-error text-sm mt-1">
    {{ ', '.join(errors) }}
  </div>
  {% endif %}
{%- endmacro %}
