
<li class="mb-4">
  <div class="flex flex-col items-start gap-1 pointer-events-auto">
  {%- if current_user.get_image() %}
  <a href="{{ url_for('accounts.index') }}">
    <img class="w-12 h-12 rounded-full" src="{{ current_user.get_image() }}">
  </a>
{% endif -%}
  <a href="{{ url_for('accounts.index') }}"><span class="font-semibold">{{ current_user.first_name }} {{ current_user.last_name }}</span></a>
  <a href="{{ url_for('accounts.index') }}"><span class="text-sm opacity-70">{{ current_user.email }}</span></a>
  </div>
</li>

<li><a href="{{ url_for('dashboard.index') }}"><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
{% if current_user.has_roles(['lecturer', 'admin']) %}
<li><a href="{{ url_for('dashboard.user_dashboard') }}"><i class="fa-solid fa-gauge"></i>My Dashboard</a></li>
  <li><a href="{{ url_for('administration.courses.index') }}"><i class="fa-solid fa-book"></i>Course</a></li>
  <li><a href="{{ url_for('administration.assignments.index') }}"><i class="fa-solid fa-laptop-code"></i>Assignment</a></li>
  <li><a href="{{ url_for('administration.challenges.index') }}"><i class="fa-solid fa-code"></i>Challenge</a></li>
  <li><a href="{{ url_for('administration.classes.index') }}"><i class="fa-solid fa-users"></i>Class</a></li>
  <li><a href="{{ url_for('administration.solutions.index') }}"><i class="fa-solid fa-file-code"></i>Solution</a></li>
  <li><a href="{{ url_for('administration.users.index') }}"><i class="fa-solid fa-users-gear"></i>User</a></li>
{% else %}
  <li><a href="{{ url_for('assignments.index') }}"><i class="fa-solid fa-laptop-code"></i>Assignment</a></li>
  <li><a href="{{ url_for('solutions.index') }}"><i class="fa-solid fa-file-code"></i>Solution</a></li>
  <li><a href="{{ url_for('classes.index') }}"><i class="fa-solid fa-users"></i>Class</a></li>
  <li><a href="{{ url_for('courses.index') }}"><i class="fa-solid fa-book"></i>Course</a></li>
{% endif %}

{% set assistant_classes = current_user.get_teaching_assistant_class() %}
{% if assistant_classes | count %}
  <li><a href="{{ url_for('teaching_assistants.index') }}"><i class="fa-solid fa-user-secret"></i>TA</a></li>
{% endif %}

{% if current_user.has_roles(['admin']) %}
  <li><a href="{{ url_for('admin.index') }}"><i class="fa-solid fa-user-tie"></i>Administrator</a></li>
{% endif %}
<li><a href="{{ url_for('accounts.index') }}"><i class="fa-solid fa-address-book"></i>Account</a></li>
<li><a href="{{ url_for('accounts.logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
