<div class="navbar bg-neutral text-neutral-content fixed top-0 left-0 right-0 z-50 shadow">
  <div class="container mx-auto px-4 flex">
    <div class="flex-1">
      <a href="{{ url_for('site.index') }}" class="btn btn-ghost text-lg normal-case">
        {# <img class="logo" src="{{ url_for('static', filename='images/sadhu.png') }}"> #}
        <i class="fa-solid fa-hands-praying"></i>
        <span class="pl-2">
          {{ config['APP_TITLE'] }}
        </span>
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('accounts.logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('accounts.login') }}">Login</a></li>
    {% endif %}
      </ul>
    </div>
  </div>
</div>
<div class="pt-16"> </div>
