{% extends '/base/default-dashboard.html.j2' %}

{% block dashboard_title %}Courses{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('administration.courses.index') }}">Courses</a></li>
{% endblock %}

{% block content %}
<div class="pt-2">
  <div class="flex flex-wrap gap-2">
    <a class="btn" href="{{ url_for('administration.courses.create_or_edit') }}">
      <i class="fa-solid fa-plus"></i> Add
    </a>
    <a class="btn" href="{{ url_for('administration.assignments.index') }}">
      <i class="fa-solid fa-laptop-code"></i>
      Assignments
    </a>
    <a class="btn" href="{{ url_for('administration.challenges.index') }}">
      <i class="fa-solid fa-code"></i>
      Challenges
    </a>
  </div>
</div>

<div class="pt-2">
  <div>
    {% if owner_courses %}
      <h2 class="text-2xl font-bold my-4">Own Course</h2>
      {{ render_table(owner_courses) }}
		{% endif %}
    {% if contributed_courses %}
      <h2 class="text-2xl font-bold my-4">Contributed Course</h2>
      {{ render_table(contributed_courses) }}
		{% endif %}
  </div>
</div>

{% endblock %}

{% macro render_table(courses) %}
  <div class="overflow-x-auto">
	<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
{% for course in courses %}
				<tr>
          <td data-label="Name">
            <a href="{{ url_for('administration.courses.view', course_id=course.id) }}">{{ course.name }}</a>
          </td>
          <td data-label="Description">
            {{ course.description }}
          </td>
          <td data-label="Operation">
            <a class="btn btn-circle btn-primary"
            href="{{ url_for('administration.courses.view', course_id=course.id) }}">
            <i class="fa-solid fa-eye"></i>
            </a>
            <a class="btn btn-circle btn-primary"
            href="{{ url_for('administration.courses.create_or_edit', course_id=course.id) }}">
            <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
				</tr>
{% endfor %}
    </tbody>
  </table>
  </div>
{% endmacro %}
