{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}Courses{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.courses.index') }}" class="section">Courses</a>
{% endblock %}

{% block content %}
<div class="row" style="padding-top: 1ex">
  <div class="column">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.courses.create_or_edit') }}">
        <i class="add icon"></i> Add
      </a>
      <a class="item" href="{{ url_for('administration.assignments.index') }}">
        <i class="laptop code icon"></i>
        Assignments
      </a>
      <a class="item" href="{{ url_for('administration.challenges.index') }}">
        <i class="code icon"></i>
        Challenges
      </a>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 1ex">
  <div class="column">
    {% if owner_courses %}
      <h2>Own Course</h2>
      {{ render_table(owner_courses) }}
		{% endif %}
    {% if contributed_courses %}
      <h2>Contributed Course</h2>
      {{ render_table(contributed_courses) }}
		{% endif %}
  </div>
</div>

{% endblock %}

{% macro render_table(courses) %}
	<table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Operation</th>
      </tr>
    </thead>
    <body>
{% for course in courses %}
				<tr>
          <td data-label="Name">
            <a href="{{ url_for('administration.courses.view', course_id=course.id) }}">{{ course.name }}</a>
          </td>
          <td data-label="Description">
            {{ course.description }}
          </td>
          <td data-label="Operation">
            <a class="ui button circular icon primary"
            href="{{ url_for('administration.courses.view', course_id=course.id) }}">
            <i class="eye icon"></i>
            </a>
            <a class="ui circular button primary icon"
            href="{{ url_for('administration.courses.create_or_edit', course_id=course.id) }}">
            <i class="edit icon"></i>
            </a>
          </td>
				</tr>
{% endfor %}
    </body>
  </table>
{% endmacro %}
