{% extends '/base/default-dashboard.html.j2' %}

{% block breadcrumbs %}
<li><a href="{{ url_for('classes.index') }}">Classes</a></li>
{% endblock %}

{% block dashboard_title %}Enrolled Classes{% endblock %}

{% block content %}
  <div class="container mx-auto px-4">
    {% if enrollments %}
    <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
  {% for enrollment in enrollments %}
        <tr>
          <td>
            <a href="{{ url_for('classes.view', class_id=enrollment.enrolled_class.id) }}">{{ enrollment.enrolled_class.name }}</a>
          </td>
          <td>
            {{ enrollment.enrolled_class.description }}
          </td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}
</div>

{% endblock %}
