{% extends '/classes/index.html.j2' %}

{% block dashboard_title %}
  Class: {{ class_.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <li>{{ class_.name }}</li>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
		<div class="card-body">
		<h3 class="text-xl font-bold">{{ class_.name }}</h3>
		<div>
			{% if enrollment %}
				You enroll this class
			{% else %}
			<a class="btn btn-circle btn-sm btn-error" href="{{ url_for('classes.enroll', class_id=class_.id) }}"><i class="fa-solid fa-plus"></i></a>

			{% endif %}
		</div>

		<div>
			<b>Description:</b> {{ class_.description }}
		</div>
		<div>
			<b>Code:</b> {{ class_.code }}
		</div>
		<div>
			<b>Course:</b> <a href="{{ url_for('courses.view', course_id=class_.course.id) }}">{{ class_.course.name }}</a>
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		<div>
			<b>Started Date:</b> {{ class_.started_date | ymd }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date | ymd }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
		</div>
		</div>
  </div>

  <div class="mt-4">
		<h3 class="text-xl font-bold mb-2">Assignments</h3>
		<div class="overflow-x-auto">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Challenges</th>
					<th>Start</th>
					<th>End</th>
					<th>Operation</th>
				</tr>
			</thead>

			<tbody>
				{% for ass_time in class_.assignment_schedule %}
				<tr>
					<td>
						<a href="{{ url_for('assignments.practice', assignment_id=ass_time.assignment.id, class_id=class_.id) }}">
							{{ ass_time.assignment.name }}
						</a>
					</td>
					<td>{{ ass_time.assignment.challenges | count }}</td>
					<td>{{ ass_time.started_date | ymd }}</td>
					<td>{{ ass_time.ended_date | ymd }}</td>
          <td>
            {% if ass_time.is_pass_started_time() %}
            <a class="btn btn-circle btn-primary" href="{{ url_for('assignments.practice', assignment_id=ass_time.assignment.id, class_id=class_.id) }}">
              <i class="fa-solid fa-eye"></i>
            </a>
            {% endif %}
          </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>

  </div>
</div>
{% endblock %}
