{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
    <p>Time: {{ now.ctime() }} </p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4 class="blue-text text-darken-4">Scores</h4>
    <ul class="collection">
    {% for class_ in available_classes %}
      {% set class_score = class_.get_assignment_score(current_user) %}
      <li class="collection-item avatar">
        <i class="material-icons circle green">folder</i>
        <span class="title">{{ class_.name }}</span>
        <p>
        Score: <b><span class="red-text">{{ class_score['total_user_score'] }}</span> / <span class="blue-text">{{  class_score['total_score'] }}</span></b>
        </p>
        {#
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        #}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <h4 class="blue-text text-darken-4">Available Class</h4>
    {% if available_classes %}
    <ul class="collection">
      {% for class_ in available_classes %}
        <li class="collection-item avatar">
          {% if class_.is_enrolled(current_user.id) %}
          <i class="material-icons circle blue">play_arrow</i>
          {% else %}
          <i class="material-icons circle">folder</i>
          {% endif %}
          <span class="title"><a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></span>
        <p>{{ class_.description }}</p>
        <p>Start {{ class_.started_date.date() }} <br>
           End {{ class_.ended_date.date() }} <br>
           Enroll {{ class_.is_enrolled(current_user.id) }}
        </p>
        {% if not class_.is_enrolled(current_user.id) %}
          <a href="{{ url_for('classes.enroll', class_id=class_.id) }}" class="secondary-content"><i class="material-icons">class</i></a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <h5>No Class for You</h5>
    {% endif%}
  </div>
  <div class="col s6">
    <h4 class="blue-text text-darken-4">Assignment</h4>
    {% if assignment_schedule | count > 0 %}
      <ul class="collection">
        {% for ass_sch in assignment_schedule %}
        {% set ass_t = ass_sch['assignment_schedule'] %}
        {% set class_ = ass_sch['class_'] %}
        {% set assignment = ass_t.assignment %}
        {% set ass_status = assignment.check_user_submission(class_, current_user) %}
        {% set all_challenge_submission = assignment.challenges | count == ass_status | count %}
        <li class="collection-item avatar">
          {% if all_challenge_submission %}
            <i class="material-icons circle green">assignment</i>
          {% else %}
            <i class="material-icons circle red">assignment</i>
          {% endif %}
          <span class="title"><a href="{{ url_for('assignments.practice', assignment_id=assignment.id, class_id=class_.id) }}">{{ assignment.name }}</a></span>
          <p>{{ assignment.description }}</p>
          <p>Class: {{ class_.name }}</p>
          <p>Start: {{ ass_t.started_date }}</p>
          <p>End: {{ ass_t.ended_date }}</p>
          <p>Score: {{assignment.get_score(class_, current_user)}}/{{ assignment.score }}</p>
          <p>Status: 
          {% if all_challenge_submission %}
            Submitted
          {% else %}
            Waiting
          {% endif %}
          </p>
          {#
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          #}
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <h5>There are not up comming assignments</h5>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
