{% extends '/administration/challenges/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block dashboard_title %}
  TA: {{ class_.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">TA: {{ class_.name }}</div>
{% endblock %}


{% block content %}
  <div class="ui container">
    <div class="ui segment">
      <form method="POST" enctype="multipart/form-data" class="ui form">
        {{ form.csrf_token }}
        <div class="two fields">
          <div class="field">
            {{ renderer.render_fileinput(form.input_file) }}
            {{ renderer.render_checkbox(form.is_inputfile) }}
            {{ renderer.render_textarea(form.input_string) }}
          </div>
          <div class="field">
            {{ renderer.render_fileinput(form.output_file) }}
            {{ renderer.render_checkbox(form.is_outputfile) }}
            {{ renderer.render_textarea(form.output_string) }}
          </div>
        </div>

        {{ renderer.render_checkbox(form.public) }} 
        <button name="create" type="submit" class="ui button primary">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
