{% extends '/administration/challenges/index.html' %}
{% import '/base/error-handler.html' as eh %}


{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Create Challenge</h3>
    <form method="POST" action="{{ request.url }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              {{ form.name(class_=eh.get_validate_class(form.name.errors)) }}
              {{ form.name.label }}
              {% if form.name.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.name.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
						<div class="input-field col s12">
              {{ form.description(class_=eh.get_validate_class(form.description.errors)) }}
              {{ form.description.label }}
              {% if form.description.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.description.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.problem_statement(class_='materialize-textarea '+eh.get_validate_class(form.problem_statement.errors)) }}
              {{ form.problem_statement.label }}
              {% if form.problem_statement.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.problem_statement.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.input_format(class_='materialize-textarea '+eh.get_validate_class(form.input_format.errors)) }}
              {{ form.input_format.label }}
              {% if form.input_format.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.input_format.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.constraints(class_='materialize-textarea '+eh.get_validate_class(form.constraints.errors)) }}
              {{ form.constraints.label }}
              {% if form.constraints.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.constraints.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.output_format(class_='materialize-textarea '+eh.get_validate_class(form.output_format.errors)) }}
              {{ form.output_format.label }}
              {% if form.output_format.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.output_format.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.score(class_=eh.get_validate_class(form.score.errors)) }}
              {{ form.score.label }}
              {% if form.score.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.score.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.tags(class_=eh.get_validate_class(form.tags.errors)) }}
              {{ form.tags.label }}
              {% if form.tags.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.tags.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button name="create" type="submit" class="waves-effect waves-light btn">
                {% if 'edit' in request.url %}
                  Edit
                {% else %}
                  Create
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
