{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.challenges.index') }}" class="breadcrumb">Challenges</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Challenges</h3>
    <div>
      <a href="{{ url_for('administration.challenges.create') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Tags</th>
              <th>Operation</th>
          </tr>
        </thead>
        <body>
  {% for challenge in challenges %}
          <tr>
            <td>
              <a href="{{ url_for('administration.challenges.view', challenge_id=challenge.id) }}">{{ challenge.name }}</a>
            </td>
            <td>
                {{challenge.score}}
            </td>
            <td>
                {{ challenge.tags | join(', ') }}
            </td>
            <td>
              xxx
            </td>
          </tr>
  {% endfor %}
        </body>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
