{% extends '/administration/challenges/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('administration.challenges.view', challenge_id=challenge.id) }}" class="breadcrumb">{{ challenge.name }}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
		<h3>{{ challenge.name }}</h3>

		<h5>Description</h5>
		<div>
			{{ challenge.description }}
		</div>

		<h5>Problem Statement</h5>
		<div>
			{{ challenge.problem_statement }}
		</div>

		<h5>Input Format</h5>
		<div>
			{{ challenge.input_format if challenge.input_format and challenge.input_format | count > 0 else '-' }}
		</div>


		<h5>Constrains</h5>
		<div>
			{{ challenge.constrains if challenge.constrains and challenge.constrains | count > 0 else '-'}}
		</div>

		<h5>Output Format</h5>
		<div>
			{{ challenge.output_format }}
		</div>

		<h5>Score</h5>
		<div>
			{{ challenge.score }}
		</div>

		<h5>Tags</h5>
		<div>
			{{ challenge.tags | join(', ') }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h5>Test Case</h5>
    <a class="btn-floating btn-small waves-effect waves-light red" href="{{ url_for('administration.challenges.add_testcase', challenge_id=challenge.id) }}"><i class="material-icons">add</i></a>
  </div>
</div>

{% if challenge.test_cases | count > 0 %}
<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th>Input</th>
          <th>Output</th>
          <th>Public</th>
          <th>Submit Date</th>
          <th>Operation</th>
        </tr>
      </thead>

      <tbody>
        {% for tc in challenge.test_cases %}
        <tr>
          <td>{{ tc.input_string }}</td>
          <td>{{ tc.output_string }}</td>
          <td>{{ tc.public }}</td>
          <td>{{ tc.created_date }}</td>
          <td>
            <a href="{{ url_for('administration.challenges.edit_testcase', challenge_id=challenge.id, testcase_id=tc.id) }}"><i class="material-icons">edit</i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
