{% extends '/courses/index.html' %}
{% import '/base/error-handler.html' as eh %}


{% block content %}
<div class="row">
  <div class="col s12">
		<h3>{{ course.name }}</h3>
  </div>
</div>

<div class="row">
	<div class="col s12">
		<div>
			{{ course.description }}
		</div>
		<div>
			<p>{{ course.tags | join(', ') }}</p>
		</div>
  </div>
</div>

<div class="row">
	<div class="col s12">
    <h5>Class</h5>
    {% set enrolled_class = enrollments[0] if enrollments | count > 0 else None %}
		{% if classes %}
			<table>
				<tbody>
				{% for class_ in classes %}
					<tr>
						<td>
							<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
						</td>
						<td>
							{% if enrollments[loop.index] %}
								<a href="{{ url_for('classes.enroll', class_id=class_.id) }}">enroll</a>
              {% else %}
								enrolled
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			No available class
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col s12">
	{% if course.assignments | count > 0 %}
	 <table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>enrollment
			</thead>
			<body>
{% for assignment in course.assignments %}
				<tr>
          <td>
            <a href="{{ url_for('assignments.view', assignment_id=assignment.id) }}">{{ assignment.name }}</a>
					</td>
					<td>
						{{ assignment.description }}
					</td>
				</tr>
{% endfor %}
			</body>
		</table>
		{% endif %}

  </div>
</div>
{% endblock %}
