{% extends '/courses/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block dashboard_title %}
Courses: {{ course.name }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">{{ course.name }}</div>
{% endblock %}


{% block content %}
<div class="ui container">
  <div class="ui segment">
		<h2>{{ course.name }}</h2>
		<div>
			{{ course.description }}
		</div>
		<div>
			<p>{{ course.tags | join(', ') }}</p>
		</div>
  </div>
</div>

<div class="ui container" style="margin-top: 1em;">
	<div class="ui segment">
    <h3>Class</h3>
		{% if classes %}
			<table>
				<tbody>
				{% for class_ in classes %}
					<tr>
						<td>
							<a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a>
						</td>
						<td>
							{% if class_ not in enrolled_classes %}
								<a href="{{ url_for('classes.enroll', class_id=class_.id) }}">enroll</a>
              {% else %}
								enrolled
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			No available class
		{% endif %}
	</div>
</div>

<div class="ui container" style="margin-top: 1em;">
  <div class="ui segment">
    {% if course.assignments | count > 0 %}
      <h2>Assignments</h2>
	 <table class="ui celled table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<body>
{% for assignment in course.assignments %}
				<tr>
          <td>
            <a href="{{ url_for('assignments.view', assignment_id=assignment.id) }}">{{ assignment.name }}</a>
					</td>
					<td>
						{{ assignment.description }}
					</td>
				</tr>
{% endfor %}
			</body>
		</table>
		{% endif %}

  </div>
</div>
{% endblock %}
