{% extends '/base/default-dashboard.html' %}
{% import '/base/solution-style.html' as solution_style %}

{% block breadcrumbs %}
  <a href="{{ url_for('administration.solutions.index') }}" class="section">Solutions</a>
{% endblock %}

{% block dashboard_title %}
Submitted Soulutions
{% endblock %}

{% block content %}
<div class="ui container">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Challenge Name</th>
        <th>Class Name</th>
        <th>Submitted Date</th>
        <th>Check Status</th>
        <th>Pass Test</th>
        <th>Score</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
{% for solution in solutions %}
  <tr class="{{ solution_style.get_solution_class(solution) }}">
    <td>
      <a href="{{ url_for('administration.classes.show_user_score', class_id=solution.enrolled_class.id, user_id=solution.owner.id) }}">{{ solution.owner.first_name }}</a>
      </td>
        <td>
          <a href="{{ url_for('administration.challenges.list_solutions', challenge_id=solution.challenge.id, class_id=solution.enrolled_class.id) }}">{{ solution.challenge.name }}</a>
        </td>
        <td>
          <a href="{{ url_for('administration.classes.view', class_id=solution.enrolled_class.id) }}">{{ solution.enrolled_class.name }}</a>
        </td>
        <td>
          {{ solution.submitted_date.ctime() }}
        </td>
        <td>
          {{ solution.status }}
        </td>
        <td>
          {{ solution.passed }}
        </td>
        <td>
          {{ '{:.2f}'.format(solution.score) }}
        </td>
        <td>
            {% if solution.status == 'complete' %}
              <a href="{{ url_for('administration.solutions.view', solution_id=solution.id, class_id=request.args.get('class_id')) }}" class="ui circular primary icon button"><i class="eye icon"></i></a>
            {% else %}
              <i class="eye icon"></i>
            {% endif %}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
