{% extends '/base/default-dashboard.html.j2' %}

{% block additional_head %}
{{ super() }}

<style type="text/css">
  {{ style }}
</style>
<style type="text/css">
  table.diff { font-family: monospace; border: 1px solid #ccc; width: 100%; }
  table.diff td, table.diff th { padding: 0 4px; }
  .diff_header { background-color: #e0e0e0; }
  td.diff_header { text-align: right; }
  .diff_next { background-color: #c0c0c0; }
  .diff_add { background-color: #aaffaa; }
  .diff_chg { background-color: #ffff77; }
  .diff_sub { background-color: #ffaaaa; }
</style>
{% endblock %}

{% block dashboard_title %}
  Submitted Solutions: {{ solution.challenge.name }}
{% endblock %}

{% block breadcrumbs %}
  {% if current_user.has_roles(['admin']) %}
    <li><a href="{{ url_for('administration.solutions.index') }}">Solutions</a></li>
  {% else %}
    <li><a href="{{ url_for('solutions.index') }}">Solutions</a></li>
    <li><a href="{{ url_for('challenges.view', challenge_id=solution.challenge.id, class_id=solution.enrolled_class.id) }}">{{ solution.enrolled_class.name }}</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div>
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <h3 class="text-xl font-bold">Solution for {{ solution.challenge.name }}</h3>
    <b>Submitter:</b> {{ solution.owner.first_name }} {{ solution.owner.last_name }}<br/>
    <b>ID:</b> {{ solution.owner.metadata.get('student_id', solution.owner.username) }}<br/>
    <b>Submitted Date:</b> {{ solution.submitted_date }}<br/>
    <b>Class:</b> <a href="{{ url_for('classes.view', class_id=solution.enrolled_class.id) }}">{{ solution.enrolled_class.name }}</a><br/>
    <b>Assignment:</b> <a href="{{ url_for('assignments.view', assignment_id=solution.assignment.id) }}">{{ solution.assignment.name }}</a><br/>
    <b>Challenge:</b> <a href="{{ url_for('challenges.view', challenge_id=solution.challenge.id, class_id=solution.enrolled_class.id) }}">{{ solution.challenge.name }}</a><br/>
    <b>Pass Testcase:</b> {{ solution.passed }}<br/>
    <b>Status:</b> {{ solution.status }}<br/>
    <b>Score:</b> {{ '{:.2f}'.format(solution.score) }}<br/>
    {% if 'compilation' in solution.metadata %}
    <div>
      {% if 'compiled_date' in solution.metadata['compilation'] %}
        <b>Prepair Status</b>
        <div><b>Compile:</b> {{ solution.metadata['compilation']['compiled_date'] }}</div>
      {% endif %}
      {% if 'error' in solution.metadata['compilation'] %}
      <div class="alert alert-error">
        <div>
        <h3 class="font-bold">
          Compilation Error
        </h3>
        <pre>
{{ solution.metadata['compilation']['error'] }}
        </pre>
        </div>
			</div>
      {% endif %}

      {% if 'output' in solution.metadata['compilation'] %}
      <div class="alert alert-info">
        <div>
        <h3 class="font-bold">
          Compilation Error
        </h3>
        <pre>
{{ solution.metadata['compilation']['error'] }}
        </pre>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if solution.messages %}
    <div>
      <b>Message</b> <br/>
      <code>
        {{ solution.messages }}
      </code>
    </div>
    {% endif %}

    </div>
  </div>
</div>

<div class="mt-5">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
  {% for t in solution.test_results %}
    <div class="alert {{ 'alert-error' if not t.validated else 'alert-success' }}">
      <div>
        <h3 class="font-bold">Test Case {{ loop.index }}</h3>
        <div>
          <ul>
            <li>
              Valid: {{ t.validated }}
            </li>
            <li>
              Public: {{ t.public }}
            </li>
            <li>
              Timeout: {{ t.timeout }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% if t.public or solution.enrolled_class.owner == current_user or solution.enrolled_class.is_teaching_assistant(current_user) %}
    {# modal description #}
    <dialog id="modal-{{'{:03}'.format(loop.index)}}" class="modal">
      <div class="modal-box w-11/12 max-w-[90vw]">
        <h3 class="font-bold text-lg">Deep Result Analysis</h3>
        <div>
          <div class="text-lg font-bold my-2">Test Case {{ loop.index }}</div>
          <div class="overflow-x-auto">
                {%- set output_str = t.output %}
                  {% if output_str == None %}
                  {% set output_str = '' %}
                  {% endif -%}
                  {{ difflib.HtmlDiff(
                  wrapcolumn=70, linejunk=difflib.IS_LINE_JUNK).make_file(output_str.splitlines(keepends=True), t.expected_result.splitlines(keepends=True)) | safe }}
          </div>
        </div>
        <div class="modal-action">
          <form method="dialog"><button class="btn">Close</button></form>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop"><button>close</button></form>
    </dialog>

    <button class="btn btn-primary" onclick="document.getElementById('modal-{{'{:03}'.format(loop.index)}}').showModal()">Deep Result Analysis</button>
    {# show result #}
    <div class="card bg-base-100 shadow">
      <div class="card-body">
      <div>
        <h3 class="text-info font-bold text-lg">Your Output</h3>
        <div>
          <code>
            {{ highlight(output_str, console_lexer, formatter) | safe }}
          </code>
        </div>
      </div>
      <div>
        <h3 class="text-info font-bold text-lg">Expected Output</h3>
        <div>
          <code>
            {{ highlight(t.expected_result, console_lexer, formatter) | safe }}
          </code>
        </div>
      </div>
      </div>
    </div>
    <div class="divider"></div>
    {% endif %}
  {% endfor %}
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <code>
      {{ formated_code | safe }}
    </code>
    </div>
  </div>
</div>

{% endblock %}
