{% extends '/accounts/index.html.j2' %}
{% import '/base/error-handler.html.j2' as eh %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block breadcrumbs %}
{{ super() }}
<li>Edit Profile</li>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h2 class="text-2xl font-bold">Profile</h2>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
          {{ renderer.render_field(form.first_name) }}
          {{ renderer.render_field(form.last_name) }}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
          {{ renderer.render_field(form.thai_first_name) }}
          {{ renderer.render_field(form.thai_last_name) }}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
          {{ renderer.render_field(form.student_id) }}
          {{ renderer.render_field(form.organization) }}
        </div>

        <button name="create" type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
