{% extends '/base/default-dashboard.html.j2' %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('accounts.index') }}">Accounts</a></li>
{% endblock %}


{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
      <h2 class="text-2xl font-bold">Profile <a class="btn btn-circle btn-ghost" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="fa-solid fa-pen-to-square"></i></a>
      </h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
          {{ current_user.first_name }}
        </div>
        <div>
          {{ current_user.last_name }}
        </div>
        <div>
          {{ current_user.metadata['thai_first_name'] }}
        </div>
        <div>
          {{ current_user.metadata['thai_last_name'] }}
        </div>
        <div>
          <b>Student ID:</b> {{ current_user.metadata['student_id'] }}
        </div>
        <div>
          <b>Organization:</b> {{ current_user.metadata['organization'] }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
