{% extends "/base/default-page.html.j2" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="min-h-[60vh] flex items-center justify-center">
  <div class="text-center">
    <h2 class="text-5xl font-bold">
      <i class="fa-solid fa-hands-praying text-4xl"></i> <br/>
      {# <img src="{{ url_for('static', filename='images/lotus-full-500px.png') }}" width="200px"> #}
      <span class="block mt-2">
        Login
      </span>
    </h2>
    <div class="mt-8 flex flex-col items-center gap-6">

  {% if 'psu' in oauth_clients %}
      <div>
        <h3 class="text-lg font-semibold mb-2">{{ "For PSU" }}</h3>
        <a class="btn btn-primary btn-lg" href="{{ url_for('accounts.login_oauth', name='psu') }}">
          <i class="fa-solid fa-user"></i>
          {{ "PSU Passport" }}
        </a>
      </div>
  {% endif %}
  {% if 'google' in oauth_clients %}
      <div>
        <h3 class="text-lg font-semibold mb-2">{{ "For Participant" }}</h3>
        <a class="btn btn-error btn-lg" href="{{ url_for('accounts.login_oauth', name='google') }}">
          <i class="fa-brands fa-google"></i>
          {{ "Google" }}
        </a>
      </div>
  {% endif %}

    </div>
  </div>
</div>


{% endblock %}
