{% extends "/base/default-page.html.j2" %}
{% import '/base/error-handler.html.j2' as eh %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block content %}
<div class="max-w-2xl mx-auto">
  <h3 class="text-2xl font-bold my-4">Register</h3>
  {% if errors is not undefined %}
  <div class="alert alert-error mb-4">
    <div>
      <h3 class="font-bold">Errors</h3>
      {% for error in errors %}
      <p>{{ error.detail }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <form method="post" action="{{request.path}}">
    {{ form.csrf_token }}
    {{ renderer.render_field(form.username) }}
    {{ renderer.render_field(form.email) }}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
      {{ renderer.render_field(form.password) }}
      {{ renderer.render_field(form.password_conf) }}
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4">
      {{ renderer.render_field(form.first_name) }}
      {{ renderer.render_field(form.last_name) }}
    </div>
    <div class="form-control mb-3 pt-2">
      <label class="label cursor-pointer justify-start gap-3">
        {{ form.agree_term(class_='checkbox') }}
        <span class="label-text">Agree with terms and conditions?</span>
      </label>
      {{ eh.get_error_messages(form.agree_term.errors) }}
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
{% endblock %}
