{% extends "/base/default-page.html.j2" %}

{% block title %}Register Success{% endblock %}

{% block additional_head %}
<script type="text/javascript">
  console.log('script update')
  setTimeout(function () {
       window.location.href = "{{ url_for('accounts.login') }}";
  }, 2000);
</script>
{% endblock %}

{% block content %}

<div class="min-h-[40vh]">
  <h3 class="text-2xl font-bold my-4">Register Success</h3>
  Going to <a href="{{ url_for('accounts.login') }}" class="link">login</a> page!
</div>

{% endblock %}
