{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('classes.index') }}" class="breadcrumb">Classes</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Enrolled Classes</h3>
  </div>
</div>

<div class="row">
	<div class="col s12">

	{% if enrollments %}
	 <table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<body>
{% for enrollment in enrollments %}
				<tr>
					<td>
						<a href="{{ url_for('classes.view', class_id=enrollment.enrolled_class.id) }}">{{ enrollment.enrolled_class.name }}</a>
					</td>
					<td>
						{{ enrollment.enrolled_class.description }}
					</td>
				</tr>
{% endfor %}
			</body>
		</table>
		{% endif %}

  </div>
</div>

{% endblock %}
