{% extends '/administration/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}


{% block content %}
<div class="row">
  <div class="col s12">
		<h3>{{ class_.name }}</h3>
		<div>
			{% if enrollment %}
				You enroll this class
			{% else %}
			<a class="btn-floating btn-small waves-effect waves-light red" href="{{ url_for('classes.enroll', class_id=class_.id) }}"><i class="material-icons">add</i></a>

			{% endif %}
		</div>
  </div>
</div>

<div class="row">
	<div class="col s12">
		<div>
			<b>Description:</b> {{ class_.description }}
		</div>
		<div>
			<b>Code:</b> {{ class_.code }}
		</div>
		<div>
			<b>Course:</b> <a href="{{ url_for('courses.view', course_id=class_.course.id) }}">{{ class_.course.name }}</a>
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		<div>
			<b>Started Date:</b> {{ class_.started_date }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
		</div>
  </div>
</div>

<div class="row">
	<div class="col s12">
		<h5>Assignments</h5>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Challenges</th>
					<th>Start</th>
					<th>End</th>
					<th>Operation</th>
				</tr>
			</thead>

			<tbody>
				{% for ass_time in class_.assignment_schedule %}
				<tr>
					<td>
						<a href="{{ url_for('assignments.practice', assignment_id=ass_time.assignment.id, class_id=class_.id) }}">
							{{ ass_time.assignment.name }}
						</a>
					</td>
					<td>{{ ass_time.assignment.challenges | count }}</td>
					<td>{{ ass_time.started_date }}</td>
					<td>{{ ass_time.ended_date }}</td>
          <td>
            <a href="{{ url_for('assignments.practice', assignment_id=ass_time.assignment.id, class_id=class_.id) }}">
              <i class="material-icons">visibility</i>
            </a>
          </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
            	
  </div>
</div>
{% endblock %}
