{% extends '/administration/assignments/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Assignment: {{ form.name.data }}
  {% else %}
    Create Assignment
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if 'edit' in request.path %}
    <li>Edit Assignment: {{ form.name.data }}</li>
  {% else %}
    <li>Create Assignment</li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <form method="POST">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.description) }}
      {{ renderer.render_field(form.score) }}
      {{ renderer.render_select(form.course) }}
      {{ renderer.render_field(form.tags) }}
      {{ renderer.render_field(form.level) }}
      {{ renderer.render_field(form.random_or_not) }}
      {{ renderer.render_field(form.random_count) }}
      <button name="create" type="submit" class="btn btn-primary">{{ 'Create' if 'edit' not in request.path else 'Create' }}</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
