{% extends '/administration/courses/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Create Course</h3>
    <form method="POST" action="{{ request.url }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              {{ renderer.render_field(form.name) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ renderer.render_field(form.description, 'materialize-textarea') }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              {{ renderer.render_select(form.languages) }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ renderer.render_field(form.tags) }}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button name="create" type="submit" class="waves-effect waves-light btn">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
