{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('challenges.index', **request.args.to_dict()) }}" class="breadcrumb">Challenges</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Challenges</h3>
  </div>
</div>

<div class="row">
  <div class="col s12">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Tags</th>
              <th>Operation</th>
          </tr>
        </thead>
        <body>
  {% for challenge in challenges %}
          <tr>
            <td>
              <a href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args.to_dict()) }}">{{ challenge.name }}</a>
            </td>
            <td>
                {{challenge.score}}
            </td>
            <td>
                {{ challenge.tags | join(', ') }}
            </td>
            <td>
              xxx
            </td>
          </tr>
  {% endfor %}
        </body>
      </table>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
