{% extends '/challenges/index.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/solution-style.html' as solution_style %}

{% block additional_head %}
{{ super() }}

<style type="text/css">
  {{ style }}
</style>
{% endblock %}

{% block additional_js %}
  {{ super() }}

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='node_modules/mathjax/MathJax.js') }}"></script>

{% endblock %}

{% block dashboard_title %}
Challenge: {{ challenge.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}  
  <i class="right chevron icon divider"></i>
  <a href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args.to_dict()) }}" class="active section">{{ challenge.name }}</a>
{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui info message">
    <div class="header">
      Assignment: <a href="{{ url_for('assignments.practice', assignment_id=assignment.id,  **request.args.to_dict()) }}">{{ assignment.name }}</a>
    </div>
  </div>
</div>

<div class="ui container" style="margin-top: 1em;">
  <div class="ui segment big" style="line-height: normal;">
		<h3>{{ challenge.name }}</h3>
		{#
		<h4>Description</h4>
		<div>
			{{ challenge.description }}
		</div>
		#}
		<h4>Problem Statement</h4>
		<div>
			{{ markdown(challenge.problem_statement, extensions=['fenced_code', 'codehilite', 'mdx_math', 'tables']) | safe }}
		</div>

		<h4>Input Format</h4>
		<div>
			{{ challenge.input_format if challenge.input_format and challenge.input_format | count > 0 else '-' }}
		</div>

		<h4>Constrains</h4>
		<div>
			{{ challenge.constrains if challenge.constrains and challenge.constrains | count > 0 else '-'}}
		</div>

		<h4>Output Format</h4>
		<div>
			{{ markdown(challenge.output_format, extensions=['fenced_code', 'codehilite', 'mdx_math', 'tables']) | safe }}
		</div>

		<h4>Score</h4>
		<div>
      <span class="ui red text"><b>{{ challenge.score }}</b></span>
		</div>

		<h4>Tags</h4>
		<div>
      {{ challenge.tags | join(', ') }}
    </div>

    {%- if challenge.test_cases | count > 0 %}
		<h4>Public Test Case</h4>
    <table class="ui celled blue table">
      <thead>
        <tr>
            <th>Input</th>
            <th>System Output</th>
        </tr>
      </thead>

      <tbody>
        {%- for t in challenge.test_cases if t.public %}
        <tr>
          <td><pre>{{ t.input_string }}</pre></td>
          <td><pre>{{ t.output_string }}</pre></td>
        </tr>
        {% endfor -%}
      </tbody>
    </table>
    {% endif -%}
  </div>
</div>

{% if request.args.get('class_id', None) %}
{% if show_submission %}
<div class="ui container" style="margin-top: 1em;">
	<div class="ui segment">
		<form class="ui form" action="{{ url_for('challenges.submit_solution', challenge_id=challenge.id, class_id=request.args.get('class_id')) }}" enctype="multipart/form-data" method="POST">
			{{ form.csrf_token }}
      <div class="field">
				{{ renderer.render_field(form.code) }}
			</div>
			<div class="field">
				<button name="submit" type="submit" class="ui primary button">Submit</button>
			</div>
		</form>
  </div>
</div>
{% endif %}
<div class="ui container" style="margin-top: 1em;">
  <div class="ui segment">
    {% if solutions %}
		<table class="ui celled table">
        <thead>
          <tr>
              <th>Filename</th>
              <th>Submited Date</th>
              <th>Status</th>
              <th>Pass</th>
              <th>Score</th>
              <th>Operations</th>
          </tr>
        </thead>

        <tbody>
          {% for solution in solutions %}
          <tr class="{{ solution_style.get_solution_class(solution) }}">
              <td>{{ solution.code.filename }}</td>
              <td>{{ solution.submitted_date }}</td>
              <td>{{ solution.status }}</td>
              <td>{{ solution.passed }}</td>
              <td>{{ '{:.2f}'.format(solution.score) }}</td>
              <td>
                {% if solution.status == 'complete' %}
                  <a class="ui circular primary icon button" target="blank" href="{{ url_for('solutions.view', solution_id=solution.id, class_id=request.args.get('class_id')) }}"><i class="eye icon"></i></a>
                {% else %}
                  <i class="eye icon"></i>
                {% endif %}
              </td>
					</tr>
          {% endfor %}
        </tbody>
		 </table>
	 {% endif %}
	</div>
</div>
{% endif %}

{% endblock %}
