{% extends '/challenges/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args.to_dict()) }}" class="breadcrumb">{{ challenge.name }}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
		<h3>{{ challenge.name }}</h3>
		{#
		<h5>Description</h5>
		<div>
			{{ challenge.description }}
		</div>
		#}
		<h5>Problem Statement</h5>
		<div>
			{{ challenge.problem_statement }}
		</div>

		<h5>Input Format</h5>
		<div>
			{{ challenge.input_format if challenge.input_format and challenge.input_format | count > 0 else '-' }}
		</div>


		<h5>Constrains</h5>
		<div>
			{{ challenge.constrains if challenge.constrains and challenge.constrains | count > 0 else '-'}}
		</div>

		<h5>Output Format</h5>
		<div>
			{{ challenge.output_format }}
		</div>

		<h5>Score</h5>
		<div>
			{{ challenge.score }}
		</div>

		<h5>Tags</h5>
		<div>
      {{ challenge.tags | join(', ') }}
    </div>
  </div>
</div>

{% if request.args.get('class_id', None) %}
{% if show_submission %}
<div class="row">
	<div class="col s12">
		<form action="{{ url_for('challenges.submit_solution', challenge_id=challenge.id, class_id=request.args.get('class_id')) }}" enctype="multipart/form-data" method="POST">
			{{ form.csrf_token }}
			<div class="row">
				<div class="col s12">
					{{ renderer.render_fileinput(form.code) }}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<button name="submit" type="submit" class="waves-effect waves-light btn">Submit</button>
				</div>
			</div>
		</form>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col s12">
    {% if solutions %}
		<table>
        <thead>
          <tr>
              <th>Filename</th>
              <th>Submited Date</th>
              <th>Status</th>
              <th>Pass</th>
              <th>Score</th>
              <th>Operations</th>
          </tr>
        </thead>

        <tbody>
          {% for solution in solutions %}
          <tr>
              <td>{{ solution.code.filename }}</td>
              <td>{{ solution.submitted_date }}</td>
              <td>{{ solution.status }}</td>
              <td>{{ solution.passed }}</td>
              <td>{{ solution.score }}</td>
              <td>
                {% if solution.status == 'complete' %}
                  <a href="{{ url_for('solutions.view', solution_id=solution.id, class_id=request.args.get('class_id')) }}"><i class="material-icons">visibility</i></a>
                {% else %}
                  <i class="material-icons">visibility</i>
                {% endif %}
              </td>
					</tr>
          {% endfor %}
        </tbody>
		 </table>
	 {% endif %}
	</div>
</div>
{% endif %}

{% endblock %}
