{% extends '/administration/assignments/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown()
    ;
  </script>
{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Assignment: {{ form.name.data }}
  {% else %}
    Create Assignment
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Assignment: {{ form.name.data }}</div>
  {% else %}
    <div class="active section">Create Assignment</div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.description) }}
      {{ renderer.render_field(form.score) }}
      {{ renderer.render_select(form.course) }}
      {{ renderer.render_field(form.tags) }}
      <button name="create" type="submit" class="ui button primary">{{ 'Create' if 'edit' not in request.path else 'Create' }}</button>
    </form>
  </div>
</div>

{% endblock %}
