{% extends '/administration/assignments/index.html' %}
{% import '/base/error-handler.html' as eh %}

{% block additional_js %}
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('select');
			var instances = M.FormSelect.init(elems);
			});
		</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Create Assignments</h3>
    <form method="POST" action="{{ request.url }}">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              {{ form.name(class_=eh.get_validate_class(form.name.errors)) }}
              {{ form.name.label }}
              {% if form.name.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.name.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.description(class_='materialize-textarea '+eh.get_validate_class(form.description.errors)) }}
              {{ form.description.label }}
              {% if form.description.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.description.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.score(class_=eh.get_validate_class(form.score.errors)) }}
              {{ form.score.label }}
              {% if form.score.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.score.errors) }}
              </div>
              {% endif %}
            </div>
					</div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.course(class_=eh.get_validate_class(form.course.errors)) }}
              {{ form.course.label }}
              {% if form.course.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.course.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form.tags(class_=eh.get_validate_class(form.tags.errors)) }}
              {{ form.tags.label }}
              {% if form.tags.errors %}
              <div class="red lighten-5 red-text text-darken-4">
                {{ ', '.join(form.tags.errors) }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button name="create" type="submit" class="waves-effect waves-light btn">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
