{% extends '/administration/assignments/index.html' %}
{% import '/base/error-handler.html' as eh %}

{%- macro get_challenge_status_style(class_, challenge) %}
{%- set style = 'yellow lighten-4' -%}
{%- set user_score = challenge.score - challenge.get_solution_score(class_, current_user) -%}
{%- if user_score == 0 %}
  {%- set style = 'green lighten-4' -%}
{% elif user_score > 0%}
  {%- set style = 'red lighten-4' -%}
{% endif -%}
{{ style }}
{%- endmacro %}

{% block additional_js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('select').formSelect();
		});
	</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
		<h3>{{ assignment.name }}</h3>
  </div>
</div>

<div class="row">
	<div class="col s12">
		<div>
			<p>Course <a href="{{ url_for('courses.view', course_id=assignment.course.id) }}">{{ assignment.course.name }}</a></p>
      <p>Class <a href="{{ url_for('classes.view', class_id=class_.id) }}">{{ class_.name }}</a></p>
		</div>
		<div>
			{{ assignment.description }}
		</div>
		<div>
			Score: {{ assignment.score }}
		</div>
		<div>
			<p>{{ assignment.tags | join(', ') }}</p>
		</div>
  </div>
</div>
<div class="row">
	<div class="col s12">
	
	{% if assignment.challenges | count > 0 %}
	 <table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Score</th>
					<th>Your Score</th>
					<th>Submitted</th>
				</tr>
			</thead>
			<body>
        {% for challenge in assignment.challenges %}
          <tr class="{{ get_challenge_status_style(class_, challenge) }}">
					<td>
						<a href="{{ url_for('challenges.view', challenge_id=challenge.id, **request.args) }}">{{ challenge.name }}</a>
					</td>
					<td>
						{{ challenge.description }}
					</td>
					<td>
						{{ challenge.score }}
          </td>
					<td>
            {{ '{:.2f}'.format(challenge.get_solution_score(class_, current_user)) }}
					</td>
          <td>
            {{'Done' if challenge.is_done(class_, current_user) else 'Waiting' }}
					</td>
				</tr>
        {% endfor %}
			</body>
		</table>
		{% endif %}

  </div>
</div>


{% endblock %}
