{% extends '/administration/challenges/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block additional_js %}
  {{ super() }}

  <script type="text/javascript">
    $(".attach-file-code").click(function() {
      $(this).parent().find("#code").click();
    });

    $('#code')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-code', $(e.target).parent()).val(name);
      });

  </script>

{% endblock %}

{% block dashboard_title %}
  Code for Test Case: {{ challenge.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">Code for Test Case: {{ challenge.name }}</div>
{% endblock %}


{% block content %}
  <div class="ui container">
    <div class="ui segment">
      <form method="POST" enctype="multipart/form-data" class="ui form">
        {{ form.csrf_token }}
        <div class="two fields">
          {{ renderer.render_fileinput(form.code) }}
          {{ renderer.render_select(form.language) }}
        </div>
        <button name="create" type="submit" class="ui button primary">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
