{% extends '/administration/challenges/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  {{ super() }}

  <script type="text/javascript">
    $(".attach-file-input_file").click(function() {
      $(this).parent().find("#input_file").click();
    });

    $('#input_file')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-input_file', $(e.target).parent()).val(name);
      });

    $(".attach-file-output_file").click(function() {
      $(this).parent().find("#output_file").click();
    });

    $('#output_file')
      .on('change', function(e) {
        var name = e.target.files[0].name;
        $('.attach-file-output_file', $(e.target).parent()).val(name);
      });

  </script>

{% endblock %}

{% block dashboard_title %}
  Test Case: {{ challenge.name }}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="active section">Test Case: {{ challenge.name }}</div>
{% endblock %}


{% block content %}
  <div class="ui container">
    <div class="ui segment">
      <form method="POST" enctype="multipart/form-data" class="ui form">
        {{ form.csrf_token }}
        <div class="two fields">
          {{ renderer.render_fileinput(form.input_file) }}
          {{ renderer.render_fileinput(form.output_file) }}
        </div>
        <div class="two fields">
          {{ renderer.render_checkbox(form.is_inputfile) }}
          {{ renderer.render_checkbox(form.is_outputfile) }}
        </div>
        <div class="two fields">
          {{ renderer.render_field(form.input_string) }}
          {{ renderer.render_field(form.output_string) }}
        </div>

        {{ renderer.render_checkbox(form.public) }} 
        <button name="create" type="submit" class="ui button primary">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
