{% extends '/administration/challenges/index.html.j2' %}
{% import '/base/html-renderer.html.j2' as renderer %}

{% block dashdoard_title %}
  {% if 'edit' in request.path %}
    Edit Challenge: {{ form.name.data }}
  {% else %}
    Create Challenge
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  {% if 'edit' in request.path %}
    <li>Edit: {{ form.name.data }}</li>
  {% else %}
    <li>Create Challenge</li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <form method="POST">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.description) }}
      {{ renderer.render_field(form.problem_statement) }}
      {{ renderer.render_field(form.input_format) }}
      {{ renderer.render_field(form.constraints) }}
      {{ renderer.render_field(form.output_format) }}
      {{ renderer.render_field(form.score) }}
      {{ renderer.render_field(form.tags) }}
      {{ renderer.render_field(form.level) }}
      <button name="create" type="submit" class="btn btn-primary">
        {% if 'edit' in request.url %}
          Edit
        {% else %}
          Create
        {% endif %}
      </button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
