{% extends '/administration/challenges/index.html' %}
{% import '/base/solution-style.html' as solution_style %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <a class="section" href="{{ url_for('administration.challenges.view', challenge_id=challenge.id, **request.args) }}">{{ challenge.name }}</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Solutions</div>
{% endblock %}

{% block dashboard_title %}
Solution: {{ challenge.name }}
{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">{{ challenge.name }}</h2>
		<h3>Description</h3>
		<div>
      {{ challenge.description }}
    </div>
  </div>
</div>

<div class="ui container" style="margin-top: 20px;">
  {% if solutions | count > 0 %}
    <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class Name</th>
        <th>Submitted Date</th>
        <th>Check Status</th>
        <th>Pass Test</th>
        <th>Test Case Score</th>
        <th>Score</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
{% for solution in solutions %}
  <tr class="{{ solution_style.get_solution_class(solution) }}">
    <td>
      <a href="{{ url_for('administration.classes.show_user_score', class_id=solution.enrolled_class.id, user_id=solution.owner.id) }}">{{ solution.owner.first_name }}</a>
      </td>
        <td>
          <a href="{{ url_for('administration.classes.view', class_id=solution.enrolled_class.id) }}">{{ solution.enrolled_class.name }}</a>
        </td>
        <td>
          {{ solution.submitted_date.ctime() }}
        </td>
        <td>
          {{ solution.status }}
        </td>
        <td>
          {{ solution.passed }}
        </td>
        <td class="right aligned">
          {{ solution.count_pass_testcases() }} /
          {{ solution.test_results | count }}
        </td>
        <td class="right aligned">
          {{ '{:.2f}'.format(solution.score) }}
        </td>
        <td>
            {% if solution.status == 'complete' %}
              <a href="{{ url_for('administration.solutions.view', solution_id=solution.id, class_id=request.args.get('class_id')) }}" class="ui circular primary icon button"><i class="eye icon"></i></a>
            {% else %}
              <i class="eye icon"></i>
            {% endif %}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
