{% extends '/accounts/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{#
{% block additional_js %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>
{% endblock %}
#}

{% block content %}
<div class="row">
  <div class="col s12">
    <h3>Profile</h3>
    <form method="POST">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s6">
          {{ renderer.render_field(form.first_name) }}
        </div>
        <div class="input-field col s6">
          {{ renderer.render_field(form.last_name) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          {{ renderer.render_field(form.thai_first_name) }}
        </div>
        <div class="input-field col s6">
          {{ renderer.render_field(form.thai_last_name) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          {{ renderer.render_field(form.student_id) }}
        </div>
        <div class="input-field col s6">
          {{ renderer.render_field(form.organization) }}
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button name="create" type="submit" class="waves-effect waves-light btn">Change</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}
