{% extends "/base/default-page.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="row" style="min-height: 40vh;">
  <div class="col s12 center">
    <div>
      <h3>Login</h3>
    {#
    <div class="row">
      <div class="col s12">
        <a href="{{ url_for('accounts.login_principal') }}" class="waves-effect waves-light btn blue">Login with Principal</a>
      </div>
    </div>
    #}

      <div class="row">
        <a href="{{ url_for('accounts.login_engpsu') }}" class="waves-effect waves-light btn-large red accent-4"><i class="material-icons left">settings</i> PSU ENGINEERING</a>
      </div>
      <div class="row">
        <a href="{{ url_for('loginpass_google.login') }}" class="waves-effect waves-light btn-large blue"><i class="material-icons left">G</i> Google</a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
